# Testing IBM Watson studio jupyter notebook

In [1]:
# The code was removed by Watson Studio for sharing.

,Monthly and annual temperature from 5 sources,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,CRU,Source,http://www.cru.uea.ac.uk/cru/data/temperature/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,References,P. Brohan,J.J. Kennedy,I. Harris,S.F.B. Tett and P.D. Jones,Uncertainty estimates in regional and global ...,111,D12106,doi:10.1029/2005JD006548. (Copyright 2006 AGU...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GISS,Source,http://data.giss.nasa.gov/gistemp/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,References,Hansen J. Mki. Sato R. Ruedy K. Lo D.W. Lea an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCDC,Source,http://www.ncdc.noaa.gov/cmb-faq/anomalies.php,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN